@media (max-width: 1200px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 60px 20px;
  }

  .about-product__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    justify-content: space-between;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 30px 50px;
  }

  .home {
    .about {
      padding-top: 34px;
      padding-bottom: 60px;
    }
  }

  .wrapper {
    padding-top: 50px;
  }

  .about-product {
    &__descr {
      font-size: 14px;
      line-height: 20px;
    }
  }

  .coffee-types {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .left {
      margin-bottom: 20px;
    }
  }

  .best-cards {
    .best-card {
      &__img {
        min-height: 128px;

        img {
          min-height: 128px;
          height: 100%;
        }
      }

      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 668px) {

  .about-product {
    padding-top: 35px;
    padding-bottom: 30px;

    &::after {
      width: 50%;
    }
    &__wrapper {
      grid-template-columns: 1fr;
      gap: unset;
    }

    &__img {
      display: none;
    }
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 260px;
  }
}

@media(max-width: 550px) {
  .container {
    padding: 20px 15px;
  }

  .hero {
    .title {
      padding-top: 20px;
    }
  }

  .wrapper {
    grid-template-columns: 1fr;
  }

  .best-cards {
    flex-wrap: wrap;
    .best-card {
      max-width: unset;
      width: 100%;
      margin-right: 0;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }
}

@media(max-width: 398px) {
  .nav {
    &__item {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }

  .coffee-types {
    label {
      font-size: 12px;
    }

    &__text {
      font-size: 12px;
      margin-right: 22px;
    }

    .tabs {
      &__btn {
        padding: 10px 8px;
        font-size: 12px;
      }
    }
  }

  
}
